﻿@page "/bonds"

@using FMI.Web.Data
@using FMI.Web.Services
@inject IBondsService BondsService
@attribute [Authorize]

<h1>Bonds calculator</h1>

<p>This page calculates yield of bonds</p>

@if (_bonds == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <DxFormLayout>
        <button @onclick="Save" class="btn btn-primary">Save</button>
        <button @onclick="Reload" class="btn btn-primary">Reload</button>
    </DxFormLayout>
    <br />
    <br />
    <DxDataGrid @ref="@_grid"
                Data="@_bondsForGrid"
                ShowFilterRow="false"
                ShowPager="false"
                RowRemoving="@((dataItem) => OnRowRemoving(dataItem))"
                RowEditStart="@(dataItem => OnRowEditStarting(dataItem))"
                RowInsertStart="@(() => OnRowEditStarting(null))">
        <ChildContent>
            <DxDataGridCommandColumn Width="150px" />
            <DxDataGridColumn Field="@nameof(Bond.Name)" />

            <DxDataGridSpinEditColumn Field="@nameof(Bond.Price)" DisplayFormatString="N2" />
            <DxDataGridSpinEditColumn Field="@nameof(Bond.FaceValue)" DisplayFormatString="N2" />
            <DxDataGridColumn Field="@nameof(Bond.CouponString)" Caption="Coupons" />
            <DxDataGridSpinEditColumn Field="@nameof(Bond.Profitability)" DisplayFormatString="P2" />
            <DxDataGridSpinEditColumn Field="@nameof(Bond.Maturity)" DisplayFormatString="N2" />
            <DxDataGridDateEditColumn Field="@nameof(Bond.Matures)" DisplayFormatString="dd.MM.yyyy" />
            <DxDataGridDateEditColumn Field="@nameof(Bond.Issued)" DisplayFormatString="dd.MM.yyyy" />
        </ChildContent>
        <EditFormTemplate>
            <EditForm Model="@EditContext" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <DxFormLayout>
                    <DxFormLayoutItem Caption="Name:" ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.Name" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Price:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxSpinEdit @bind-Value="@EditContext.Price" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Face:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxSpinEdit @bind-Value="@EditContext.FaceValue" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Coupon Value:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxSpinEdit @bind-Value="@EditContext.CouponValue" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Coupons Yearly:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxSpinEdit @bind-Value="@EditContext.CouponsInYear" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Total Coupons:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxSpinEdit @bind-Value="@EditContext.TotalCoupons" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Issued:" ColSpanMd="6" Context="FormLayoutContext">
                        <Template>
                            <DxDateEdit @bind-Date="@EditContext.Issued" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <ValidationSummary />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <div class="dxbs-fl-ctrl dxbs-fl-ctrl-nc text-right">
                                <button class="btn btn-link" type="submit">Update</button>
                                <button class="btn btn-link" type="button" @onclick="@OnCancelButtonClick">Cancel</button>
                            </div>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </EditFormTemplate>
    </DxDataGrid>
}

@code {
    DxDataGrid<Bond> _grid;
    IEnumerable<Bond> _bondsForGrid { get => _bonds?.Where(b => !b.IsDeleted) ?? new Bond[0]; }
    List<Bond> _bonds;

    Bond _newBond = new Bond { Name = "New Bond" };

    private double _defaultYield = 0.05;

    protected override async Task OnInitializedAsync()
    {
        await Reload();
    }

    private async Task Reload()
    {
        _bonds = null;
        _bonds = new List<Bond>(await BondsService.GetBondsAsync());
    }

    class FormEditContext
    {
        public FormEditContext(Bond dataItem)
        {
            DataItem = dataItem;
            if (DataItem == null)
            {
                DataItem = new Bond();
                IsNewRow = true;
            }
            Issued = DataItem.Issued;
            Name = DataItem.Name;
            Price = DataItem.Price;
            FaceValue = DataItem.FaceValue;
            CouponsInYear = DataItem.CouponsInYear;
            CouponValue = DataItem.CouponValue;
            TotalCoupons = DataItem.TotalCoupons;
        }

        public Bond DataItem { get; set; }
        public bool IsNewRow { get; set; }

        [Required]
        [StringLength(maximumLength: 16, MinimumLength = 4,
        ErrorMessage = "The name should be 4 to 16 characters.")]
        public string Name { get; set; }

        [Required]
        public DateTime Issued { get; set; }

        [Required]
        public double Price { get; set; }

        [Required]
        public double FaceValue { get; set; }

        [Required]
        public double CouponValue { get; set; }

        [Required]
        public int CouponsInYear { get; set; }

        [Required]
        public int TotalCoupons { get; set; }

        public Action StateHasChanged { get; set; }
    }

    FormEditContext EditContext = null;
    void OnRowEditStarting(Bond bond)
    {
        EditContext = new FormEditContext(bond);
        EditContext.StateHasChanged += () => { InvokeAsync(StateHasChanged); };
    }
    void OnCancelButtonClick()
    {
        EditContext = null;
        _grid.CancelRowEdit();
    }
    void HandleValidSubmit()
    {
        EditContext.DataItem.Issued = EditContext.Issued;
        EditContext.DataItem.Name = EditContext.Name;
        EditContext.DataItem.Price = EditContext.Price;
        EditContext.DataItem.FaceValue = EditContext.FaceValue;
        EditContext.DataItem.CouponValue = EditContext.CouponValue;
        EditContext.DataItem.CouponsInYear = EditContext.CouponsInYear;
        EditContext.DataItem.TotalCoupons = EditContext.TotalCoupons;
        EditContext.DataItem.IsEdited = true;

        if (EditContext.IsNewRow)
        {
            EditContext.DataItem.IsNew = true;
            _bonds.Add(EditContext.DataItem);
        }

        EditContext = null;
        _grid.CancelRowEdit();
    }

    void OnRowRemoving(Bond bond)
    {
        bond.IsDeleted = true;
        InvokeAsync(StateHasChanged);
    }

    async Task Save()
    {
        var bonds = _bonds;
        var reloadNeeded = false;
        foreach (var bond in bonds)
        {
            if (bond.IsDeleted || bond.IsNew || bond.IsEdited)
            {
                _bonds = null;
                reloadNeeded = true;
                await BondsService.StoreBondAsync(bond);
            }
        }

        if (reloadNeeded)
            await Reload();
    }
}
